body{
    margin: 0;
    text-align: center;
}
.top-section {
    background-color: #6f4a8e;
    color: #ebebeb;
    text-align: center;
    padding: 5%;
}

.middle-section {
    text-align: center;
    background-color: #221f3b;
    color: #ebebeb;
    padding: 5%;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

h2 {
    font-size: 2rem;
}
a {
    color: #fff;
}

p {
    animation-duration: 5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.music-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.piano-img {
    width: 20%;
    margin: 5% 5%;
    float: left;
    
}


.line-row {
    margin-left: 30%;
}

.dj-img {
    width: 20%;
    margin-left: 20px;
    float: right;

}

.producer-img {
    width: 20%;
    margin: 5% 5%;
    float: left;
}

#about {
    background-color: #ebebeb;
    padding: 3%;
    text-align: center;
}
.person-img{
    width: 5%;
}

.about-text {
    text-align: left;

}